<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}">
    <!--conectar google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--animate.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <title>Login</title>
</head>
<body>
    <!--Permite cargar el Crispy el forms, antes se debe instalar mediante el requirements.txt-->
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="sss row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="efecto-sombra card">
                    <div class="card-body">
                        <img class="logo-login" src="{% static 'app/img/logo-login.png'%}"  alt="logo-login">
                        <br>
                        <br>
                        <h2 class="titulo-login">Ingresa Tus Credenciales</h2>
                        <hr>
                        <form action="" method="post">
                            <!--Activa el formulario de Django-->
                            {% csrf_token %} 
                            <!--Le da formato css al formulario, mediante bootstrap-->
                            {{ form | crispy }}
                            <br>
                            <button class="boton-login btn btn-success" type="submit">Ingresar</button>
                            <br>
                            <div class="row">
                                <div class="conten-boton-regresar col-12 col-md-12 col-lg-12">
                                    <a class="boton-regresar btn btn-secondary" href="{% url 'loginopcion' %} " role="button">Regresar</a>
                                </div>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>