{% extends 'app/base.html' %}

{% load static %}

{% block tituloseccion %}
<title>SixManager | Registro Usuarios</title>
<!--Estilo css Registro -->
<link rel="stylesheet" href="{% static 'app/css/registro.css' %}">
<!--Estilo de Letra-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
{% endblock %}

{% block contenido %}
<div>
    {% load crispy_forms_tags %}
    <div class="container cont-registro">
        <div class=" row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-12 ">
                <div class="card card-registro">
                    <div class="card-body card-body-registro ">
                        <br>
                        <h2 class="titulo-registro">Registro de Usuarios</h2>
                        <br>
                        <hr>
                        <form action="" method="post">
                            <div class="row">
                                <div class="col-12 col-md-6 offset-md-3">
                                    <!--Activa el formulario de Django-->
                                    {% csrf_token %}
                                    <!--Le da formato css al formulario, mediante bootstrap-->
                                    {{ form | crispy }}
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 offset-md-4">
                                    <button class="boton-registro btn btn-primary" type="submit"
                                        value="registrar">Registrar</button>
                                </div>
                            </div>
                            <br>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}