<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'app/img/logo.png'%}">
  <!--Modifica el titulo de la pagina en la cual se encuentre-->
  {% block tituloseccion %}

  {% endblock %}
  <!--Estilo css base -->
  <link rel="stylesheet" href="{% static 'app/css/base.css' %}">
  <!--Estilo css index -->
  <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
  <!--Estilo css Registro -->
  <link rel="stylesheet" href="{% static 'app/css/registro.css' %}">
  <!--Estilo css Reporte-->
  <link rel="stylesheet" href="{% static 'app/css/reporte.css' %}">

  <!--conectar google fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Benne&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!--animate.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

  <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">

  <!--Link a opciones.js-->
  <link rel="stylesheet" href="{% static 'app/js/opciones.js' %}">
</head>

<body>

  <!--SECCIÓN SUPERIOR-->
  <div class="container">
    <!--Menú Flotante-->
    <div class="row barra-nav">
      <!--Barra de Navegación-->
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
        <div id="myNav" class="overlay ">
          <a href="javascript:void(0)" class="closebtn link-menus" onclick="closeNav()">&times;</a>
          <div class="overlay-content">
            <a class="link-menus"  href=" {% url 'index' %} ">Home</a>
            <!--Permite el acceso al usuario que contega el permiso para agregar clientes-->
            {% if perms.app.add_clientes  %}
            <a class="link-menus"  href=" {% url 'adm_clientes' %} ">Administracion de Clientes</a>
            {% endif %}
            <!--Permite el acceso al usuario que contega el permiso para agregar una nota de venta-->
            {% if perms.app.add_n_venta  %}
            <a class="link-menus"  href=" {% url 'adm_ventas' %} ">Administracion de Nota de Venta</a>
            {% endif %}
            <!--Permite el acceso al usuario que contega el permiso para visualizar clientes-->
            {% if perms.app.view_clientes  %}
            <a class="link-menus"  href="{% url 'listar_clientes' %}">Listar Clientes</a>
            {% endif %}
            <!--Permite el acceso al usuario que contega el permiso para Visualizar clientes-->
            {% if perms.app.view_n_venta  %}
            <a class="link-menus"  href="{% url 'listar_ventas' %}">Listar Ventas</a>
            {% endif %}
            <!--Permiso parche-->
            {% if perms.app.delete_clientes %}
            <a class="link-menus"  href=" {% url 'registro' %} ">Administración de Usuarios</a>
            {% endif %}
            <!--Permiso parche-->
            {% if perms.app.delete_clientes %}
            <a class="link-menus"  href=" {% url 'reporte' %} ">Reporte PowerBI</a>
            {% endif %}
            <!--Autentifica a los usuarios-->
          </div>
          {% if user.is_authenticated %}
          <a class="cerrar" href=" {% url 'logout' %} ">Cerrar sesión</a>
          {% else %}
          <a class="link-menus" href=" {% url 'login' %} ">Iniciar sesión</a>
          {% endif %}
        </div>
      </div>
      <!--Imagen Parte Superior-->
      <div class="logo-titulo col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
        <img class="logo1" src="{% static 'app/img/logo.png'%}" alt="logo1">
        <h2 class="titulo animate__animated animate__fadeInRight">SixManager Software</h2>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
        <span class="menu " onclick="openNav()">&#9776;</span>
      </div>
    </div>
  </div>
  <!--SECCION CENTRAL-->
  {% block contenido %}

  {% endblock %}
  <!--SECCIÓN INFERIOR-->
  <!--Footer-->
  <footer class="piebg-light text-center text-lg-start" heidth=50%>
    <!-- Copyright -->
    <div class="text-center p-3" >
      © 2021 SixManager Software
    </div>
    <!-- Copyright -->
  </footer>
  <script src="{% static 'app/js/opciones.js' %}"></script>
  <script src="{% static 'app/js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  {% if messages %}
  {% for m in messages %}
  <script>
    Swal.fire({
      "title": "{{m}}",
      "icon": "success"
    })
  </script>
  {% endfor %}
  {% endif %}

</body>

</html>