{% extends 'app/base.html' %}

{% load static %}

{% block tituloseccion %}
<title>SixManager | Home</title>
{% endblock %}

{% block contenido %}
<div class="container">
  
    <div class="card-body">
      <div class="row ">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <h2 class="titulo-index animate__animated animate__fadeInDown" >Sistema de Gestión Web</h2>
          <hr>
          {% if user.is_authenticated %}
          <h5 class="subtitulo-index animate__animated animate__fadeInDown">Bienvenido {{ user.username }} </h3>
          {% endif %}
          <br>
          <p class="descripcion-index animate__animated animate__fadeInDown">Este sistema
            tiene como función administrar las ventas emitidas por nuestra empresa y los
            clientes con los cuales se trabajan. La plataforma esta orientada para que nuestros
            vendedores o gerentes puedan ejercer de manera eficiente las funciones requeridas para su cargo.
          </p>
          <br>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <img class="imagen-index animate__animated animate__fadeInLeft" src="{% static 'app/img/teclado.png'%}" alt="Imagen index">
          </div>
          <br>
          <br>
          <hr>
          <br>
        </div>
      </div>
    </div>
  
</div>
{% endblock %}