{% extends 'app/base.html' %}

{% load static %}




{% block tituloseccion %}
<title>SixManager | Listado de Nota de Venta</title>
{% endblock %}



{% block contenido %}
{% load humanize %}

{% block js %}
<script>
    function eliminarVenta(id) {
        Swal.fire({
            "title": "Estás seguro?",
            "text": "Esta acción no se puede deshacer",
            "icon": "warning",
            "showCancelButton": true,
            "cancelButtonText": "No, cancelar",
            "confirmButtonText": "Si, Eliminar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545",

        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/eliminar_venta/" + id
                }
            })
    }
</script>

{% endblock %}

<br>
<br>
<div class="card">
    <div class="card-body text-center">
        <h2 style="text-align: center;">Notas de venta ingresadas</h2>
        <a href="{% url 'export_nota_venta_xls' %}" class="btn btn-success btn-sm">Exportar a excel</a>
        <hr>
        <form method="GET">
            {{myfilter1.form}}
            <button class="btn btn-outline-info btn-sm" type="submit">Buscar</button>
        </form>
        <hr>
        <table class="table table-striped table-hover">
            <tr>
                <th>Nombre Cliente</th>
                <th>Nombre Venta</th>
                <th>Fecha Venta</th>
                <th>Monto en CLP</th>
                <th>Clase de Venta</th>
                <th>Fecha inicio Facturacion</th>
                <th>Fecha Fin Facturacion</th>
                <th>Opciones</th>

            </tr>

            {% for p in ventas %}

            <tr>
                <td>{{ p.id_cliente | title }}</td>
                <td>{{ p.nombre_venta | title }}</td>
                <td>{{ p.fecha_venta | title }}</td>
                <td>${{ p.clp | title }}</td>
                <td>{{ p.clase_venta | title}}</td>
                <td>{{ p.fecha_inicio_facturacion | title }}</td>
                <td>{{ p.fecha_fin_facturacion | title }}</td>
                <td>
                    <!--Permite el acceso al boton, dependiendo de los permisos del usuario(modificar cliente)-->
                    {% if perms.app.change_n_venta %}
                    <a href="{% url 'modificar_venta' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                    {% endif %}
                    <!--Permite el acceso al boton, dependiendo de los permisos del usuario(eliminar cliente)-->
                    {% if perms.app.delete_n_venta %}
                   <!-- <a href="#" onclick="eliminarVenta({{ p.id }})" class="btn btn-danger btn-sm">Eliminar</a> -->
                    {% endif %}
                </td>
            </tr>

            {% endfor %}
        </table>
        <hr>

    </div>
</div>


{% endblock %}