{% extends 'app/base.html' %}



{% load static %}



{% block tituloseccion %}
<title>SixManager | Listado de Clientes</title>
{% endblock %}


{% block contenido %}
{% load humanize %}

{% block js %}
<script>
    function eliminarCliente(id) {
        Swal.fire({
            "title": "¿Estás seguro?",
            "text": "Esta acción no se puede deshacer",
            "icon": "warning",
            "showCancelButton": true,
            "cancelButtonText": "No, cancelar",
            "confirmButtonText": "Si, Eliminar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545",

        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/eliminar_cliente/" + id
                }
            })
    }
</script>
{% endblock %}

<br>
<br>
<div class="card">
    <div class="card-body text-center">
        <h2 style="text-align: center;">Clientes ingresados</h2>
        <a href="{% url 'export_clientes_xls' %}" class="btn btn-success btn-sm">Exportar a excel</a>
        <hr>
        <form method="GET">
            {{myfilter.form}}
            <button class="btn btn-outline-info btn-sm" type="submit">Buscar</button>
        </form>
        
        
      </form>
        <hr>
        <table class="table table-hover">
            <tr>

                <th>ID Cliente</th>
                <th>Rut</th>
                <th>Nombre compañia</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Dirección</th>
                <th>Opciones</th>
                

            </tr>

            {% for p in clientes %}

            <tr>
                <td>{{ p.id_cliente | title }}</td>
                <td>{{ p.rut | title }}</td>
                <td>{{ p.nombre_compania | title }}</td>
                <td>{{ p.telefono | title }}</td>
                <td>{{ p.email | title }}</td>
                <td>{{ p.direccion | title }}</td>
                <td>
                    <!--Permite el acceso al boton, dependiendo de los permisos del usuario(modificar cliente)-->
                    {% if perms.app.change_clientes %}
                    <a href="{% url 'modificar_clientes' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                    {% endif %}
                    <!--Permite el acceso al boton, dependiendo de los permisos del usuario(eliminar cliente)-->
                    {% if perms.app.delete_clientes %}
                    <!-- <a href="#" onclick="eliminarCliente({{ p.id }})" class="btn btn-danger btn-sm">Eliminar</a> -->
                    {% endif %}
                </td>
            </tr>

            {% endfor %}
        </table>
        <hr>
    </div>
</div>


{% endblock %}