<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SixManager | Selección Usuario</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'app/img/logo.png'%}">
    <!--conectar google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--animate.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'app/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/loginopcion.css' %}">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class=" col-12 col-md-6 offset-md-3">
                <div class="sombra card">
                    <div class="card-body">
                        <img class="logo-option-login" src="{% static 'app/img/image.png'%}" alt="logo-login">
                        <br>
                        <h2 class="titulo-login-opt">Selecciona tu tipo de usuario</h2>
                        <br>
                        <hr>
                        <div class="row">
                            <div class="cont-boton col-12  col-md-12 col-lg-12">
                                <!--Redirecciona a la url del admin-->
                                <a class="boton-select  btn btn-primary" href="{% url 'admin:index' %} " role="button">Administrador</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cont-boton col-12 col-md-12 col-lg-12">
                                <!--Redirecciona a la url del login-->
                                <a class="boton-select btn btn-primary" href="{% url 'login' %} " role="button">Vendedor/Gerente</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>