{% extends 'app/base.html' %}

{% load static %}

{% block tituloseccion %}
<title>SixManager | Modificador de Clientes</title>
{% endblock %}


{% block contenido %}

{% load crispy_forms_tags %}


        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">

                <div class="card">
                    <div class="card-body">
                        <h2>Modificar Clientes</h2>
                        <form action="" method="post">

                            {% csrf_token %}
                            {{ form | crispy}}
                            
                            <div class="d-flex justify-content-end">
                                <input type="reset" value="Cancelar" class="btn btn-secondary">
                                &nbsp;
                                <input type="submit" value="Modificar" class="btn btn-primary">
                            </div>
                   
                     </div>
                 </div>    
                </form>
            

            </div>
        </div>

 

{% endblock %}
