{% extends 'app/base.html' %}

{% load static %}

{% block tituloseccion %}
<title>SixManager | Home</title>
{% endblock %}

{% block contenido %}
<div class="container">
  <div class="sombra card">
    <div class="card-body">
        <div class="row ">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
              <h1 class="titulo-reporte">Reportes SixManager</h1>
              <hr>
            </div>
      <div class="row ">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 imag-reporte">
          <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=a8067519-63d1-46fb-a812-704ec659221b&autoAuth=true&ctid=72fd0b5a-8a6a-4cff-89f6-bde961f7e250&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}