/*------------------*/
/*      GENERAL     */
/*------------------*/
* {
  margin: 0;
  padding: 0%;
}

/*------------------*/
/*MENÚ DE NAVEGACIÓN*/
/*------------------*/
.barra-nav{
  padding-top: 2%;
}
.logo1 {
  height: 50px;
  width: 50px;
  float: left;
}
.titulo {
  font-size: 25px;
  float: right;
  position: absolute;
  left: 120px;
  top: 20px;
  font-family: 'Mulish', sans-serif;
}
.logo1{
  margin-left: 10%;
}
.menu{
  font-size: 30px ;
  height: 80px;
  width: 60px; 
  cursor: pointer;
  float: right;
  position: relative;
  top: 10px;
  right: -35px;
}
.btn-btn-primary {
  background-color: gray;
}

.base-login{
  pointer-events: none;
}


/* OVERLAY MENU */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d1cfcf;
  background-color: #d1cfcf;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 10%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: rgb(0, 0, 0);
  display: block;
  transition: 0.3s;
}

.cerrar {
  position: absolute;
  top: 20px;
  right: 250px;
  font-size: 35px;
}

.abrir{
  position: absolute;
  top: 20px;
  right: 175px;
  font-size: 60px;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  right: 95px;
  font-size: 60px;
}

/*Link de cerrar Sesión*/
.cerrar{
  position: absolute;
  top: 20px;
  right: 140px;
  font-size: 35px;
}
.cerrar:hover{
  text-decoration: none;
}

.link-menus:hover{
  text-decoration: none;
}

/*------------------*/
/*      FOOTER     */
/*------------------*/
.fooot{
  text-align: center;
}

footer{
  background-color: #e6e6e6;
}




