.sombra {
  box-shadow: 0 0 3px black;
  margin-bottom: 2%;
  margin-top: 2%;
}

.card-body{
  background-color: #e6e6e6;
  margin-bottom: 3%;
}

.titulo-index{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}



.subtitulo-index{
  text-align: center;
  font: inherit;
}

.descripcion-index{
  text-align: justify;
  margin-left: 25%;
  width: 50%;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
  font-size: 18px;
  color: black;
}

.imagen-index{
  margin-left: 320px;
  display: inline-block;
  position: static;
}

/*Se debe comportar de esta manera, cuando la resolución fluctue entre 992 a 1199 pixeles*/
@media (min-width: 992px) and (max-width: 1199px) {
  .imagen-index {
    margin-left: 18%;
  }
}

/*Se debe comportar de esta manera, cuando la resolución fluctue entre 768 a 991 pixeles*/
@media (min-width: 768px) and (max-width: 991px) {
  .imagen-index {
    margin-left: 3%;
  }
}

/*Se debe comportar de esta manera, cuando la resolución fluctue entre 537 a 767 pixeles*/
@media (min-width: 537px) and (max-width: 767px) {
  .imagen-index {
    margin-left: 12%;
    width: 350px;
    height: 200px;
  }
}

/*Se debe comportar de esta manera, cuando la resolución fluctue entre 435 a 536 pixeles*/
@media (min-width: 435px) and (max-width: 536px) {
  .imagen-index {
    margin-left: 1%;
    width: 350px;
    height: 200px;
  }
}

/*Se debe comportar de esta manera, cuando la resolución fluctue entre 435 a 536 pixeles*/
@media (min-width: 100px) and (max-width: 535px) {
  .imagen-index {
    margin-left: 10%;
    width: 80%;
    height: 100%;
  }
  .card-body{
    width: 100%;
  }
}

