.logo-login{
    padding-left: 40%;
}

.titulo-login{
    text-align: center;
}

.boton-login{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.container{
    margin-top: 7%;
}

.card-body{
    background-color: #bad9ee;
}
.conten-boton-regresar{
    margin-left: 20%;
}

.boton-regresar{
    width: 60%;
}

.efecto-sombra {
    box-shadow: 0 0 20px black;
}