/*pagina de seleccionar opcion al ingresar al sistema*/
.cont-boton {
  margin-bottom: 7%;
  padding-bottom: 5%;
}


.boton-select {
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-top: 5%;
  text-align: center;
  padding-top: 5%;
  border-radius: 15px;
  font-size: 20px;
}

.boton-select:hover {
  background-color: #4c89cc;
  color: #000;
  text-shadow: #555 2px 2px 3px;
  border: 1px solid #ecfcfc;
}
.logo-option-login {
  margin-left: 25%;
}

.container {
  margin-bottom: 7%;
}

.titulo-login-opt {
  color: #2c3150;
  text-align: center;
}

.sombra {
  box-shadow: 0 0 20px black;
}

/*Se debe comportar de esta manera, cuando la resolución fluctue entre 992 a 1199 pixeles*/
@media (min-width: 992px) and (max-width: 1199px) {
  .logo-option-login {
    margin-left: 16%;
    margin-right: 16%;
  }
}

/*Se debe comportar de esta manera, cuando la resolución fluctue entre 768 a 991 pixeles*/
@media (min-width: 768px) and (max-width: 991px) {
  .logo-option-login {
    margin-left: 5%;
  }
}

/*Se debe comportar de esta manera, cuando la resolución fluctue entre 992 a 1199 pixeles*/
@media (min-width: 137px) and (max-width: 767px) {
  .logo-option-login {
    margin-left: 20%;
  }
}
