.cont-registro{
    margin-top: 2%;
    margin-bottom: 3%;
}

.titulo-registro{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.conten-boton-regresar-registro{
    width: 100%;
}

.boton-registro{
    width: 70%;
}

.boton-regresar-registro{
 width: 70%;
}